section.hero {
  height: 120vh;
}

.hero .container {
  background: linear-gradient(
    to top,
    rgba(114, 221, 255, 0.2),
    rgba(114, 221, 255, 0)
  );
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-top: 4em;
}

.hero-copy {
  text-align: center;
}

.hero-copy h1 {
  margin-bottom: 26px;
}

.hero-copy p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 36px;
}

.hero-img {
  width: 70%;
}


.flows {
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin: 4em 0 2em 0;
}

.flow {
  flex: 1;
  padding: 2em 2em 0 2em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.075);
  background: linear-gradient(to top, #000000, rgba(169, 89, 124, 0));
  border-radius: 5em;
}


.flow:nth-child(1) {
  background: linear-gradient(
    to top,
    rgba(169, 89, 124, 0)
    rgba(63, 128, 156, 0)
  );
  background-clip: padding-box;
}

.flow-copy {
  flex: 1;
  padding: -1em;
}

.flow-copy h3 {
  font-size: 30px;
}

.flow-img {
  position: relative;
  flex: 1;
  padding: 1.5em 1em 0 1em;
}


@media (max-width: 900px) {
  .hero-copy p {
    width: 75%;
  }

  .hero-img {
    width: 90%;
  }

 
  .first-workflow .copy,
  .flow.flow-lg .flow-copy {
    width: 100%;
  }

  .flows {
    flex-direction: column;
  }


}
